.underline_effect, .underline_active{
    position: relative;
}
.underline_effect::after, .underline_active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1%;
    left: 0;
    bottom: 0;
    background-color: #ef4165;
    transform: scale(0);
    transition: 800ms;
}
.underline_active::after{
    transform: scale(1);
}
.underline_effect:hover::after{
    transform: scale(1);
}
.underline_effect:hover{
    transition: 1200ms;
    color: #ef4165;
}
.fill_effect {
    position: relative;
    overflow:hidden;
    color: #eac473;
    z-index: 4;
}
.fill_effect_active{
    position: relative;
    overflow:hidden;
    color: white;
    z-index: 4;
}
.fill_effect:hover{
    transition: 1200ms;
    color: white;
}
.fill_effect::after , .fill_effect_active::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    transition: 500ms;
    z-index: -1;
    background-color: #ef4165;
    transform: translateX(-500px);
}
.fill_effect_active::after{
    transform: translateX(0);
}
.fill_effect:hover::after{
    transform: translateX(0);
}
.float_clear::after{
    content: '';
    display: table;
    clear: both;
}
.yellow_block{
    position: relative;
}
.yellow_block::after{
    content: '';
    position: absolute;
    width: 8%;
    height: 40%;
    top: 40%;
    z-index: 3;
    right: -1%;
    background-color: #eac473;
}
body , html{
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: 'Raleway', sans-serif !important;
}
.oswald{
    font-family: 'Oswald', sans-serif;
}
html::-webkit-scrollbar{
    display: none;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c li{position: relative;}
.c li::before 
{
    content: '\2022';
    font-size: 3rem;
    color:#272228;
    position: absolute;
    left: -7%;
    top: 1%;
    font-weight: bolder;
}
span.swiper-pagination-bullet{
    background-color: #443548;
    opacity: 1;
    width: 16px;
    height: 16px;
}
span.swiper-pagination-bullet-active{
    background-color:#eac473 ;
    width: 18px;
    height: 18px;
}