
:root{
    --swiper-pagination-color: "#372c44";
    --swiper-pagination-bullet-inactive-color: "#999999";
    --swiper-pagination-bullet-inactive-opacity: "1";
    --swiper-pagination-bullet-size: "16px";
    --swiper-pagination-bullet-horizontal-gap: "6px" ;
}